<h1 mat-dialog-title>{{operationType}} element</h1>
<!-- This single component takes care of both adding new element and editing existing element -->

<mat-dialog-content [formGroup]="myForm">
  <form [formGroup]="myForm">
    <mat-label>Name</mat-label><br>
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Element name" required>
    </mat-form-field>

    <br><br>

    <mat-label>Position</mat-label><br>
    <mat-form-field>
      <input matInput formControlName="position" placeholder="Element position" required>
    </mat-form-field>

    <br><br>
    <mat-label>Weight</mat-label><br>
    <mat-form-field>
      <input matInput formControlName="weight" placeholder="Atom weight" required>
    </mat-form-field>

    <br><br>
    <mat-label>Symbol</mat-label><br>
    <mat-form-field>
      <input matInput type="text" formControlName="symbol" placeholder="Element symbol" required>
    </mat-form-field>
  </form>
</mat-dialog-content>

<!-- Action buttons at the bottom of the dialog -->
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="close()"><mat-icon>close</mat-icon></button>
  <button mat-raised-button color="accent" (click)="save()"><mat-icon>done</mat-icon></button>
</mat-dialog-actions>
