<div class="mat-display-1">FormBuilder</div>

<mat-card class="card-800">

  <mat-card-header>
    <mat-card-title>
      FormGroup built using FormBuilder()
    </mat-card-title>
    <mat-card-subtitle>
      This form is built using FormBuilder() constructor, identical to the basic form of the previous section.
      FormBuilder() serves as <span class="underline">syntactic sugar</span>, allowing a much simplified syntax.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="comment">Use ReactiveForm built-in validators (e.g. Validators.required) <span class="comment-highlight">in conjunction
        with</span> HTML5 native validation (e.g. 'required').</div>
      <div class="mat-elevation-z2 form-group">
        <mat-form-field>
          <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName" placeholder="Your first name" required>
        </mat-form-field>

        &nbsp;&nbsp;

        <mat-form-field>
        <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" placeholder="Your last name" required>
        </mat-form-field>
      </div>

      <br>

      <div formGroupName="address" class="mat-elevation-z2 form-group">
        <mat-form-field class="wide">
          <mat-label>Street address</mat-label>
          <input matInput type="text" formControlName="street" placeholder="Your street address">
        </mat-form-field>

        <p></p>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" placeholder="Your city">
        </mat-form-field>

        &nbsp;&nbsp;

        <mat-form-field class="narrow">
          <mat-label>State</mat-label>
          <input matInput type="text" formControlName="state" placeholder="Your state">
        </mat-form-field>

        &nbsp;&nbsp;

        <mat-form-field class="narrow">
          <mat-label>ZIP code</mat-label>
          <input matInput type="text" formControlName="zip" placeholder="Your ZIP code">
        </mat-form-field>

      </div>

      <br>
      <div class="comment">Submitted data are logged to the console. (press F12 on Google Chrome to toggle browser console)</div>
      <button mat-raised-button color="accent" type="submit" [disabled]="!myForm.valid">Submit</button>

    </form>

  </mat-card-content>

</mat-card>
