<div class="mat-display-1">Basic forms</div>

<mat-card class="card-800">

  <mat-card-header>
    <mat-card-title>
      Reactive form with nested FormGroup
    </mat-card-title>
    <mat-card-subtitle>
      This basic form is built using just FormGroup() and FormControl().

    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="comment">First name and last name are required, hence the asterisk.</div>
      <div class="mat-elevation-z2 form-group">
        <mat-form-field>
          <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName" placeholder="Your first name" required>
        </mat-form-field>

        &nbsp;&nbsp;

        <mat-form-field>
        <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" placeholder="Your last name" required>
        </mat-form-field>
      </div>

      <br>

      <div formGroupName="address" class="mat-elevation-z2 form-group">
        <div class="comment">'address' FormGroup is nested within 'myForm' FormGroup.</div>
        <mat-form-field class="wide">
          <mat-label>Street address</mat-label>
          <input matInput type="text" formControlName="street" placeholder="Your street address">
        </mat-form-field>

        <p></p>

        <div class="comment">Input width are set on 'mat-form-field' using class='wide' or class='narrow' with width property set to 80% and 10%, respectively.</div>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" placeholder="Your city">
        </mat-form-field>

        &nbsp;&nbsp;

        <mat-form-field class="narrow">
          <mat-label>State</mat-label>
          <input matInput type="text" formControlName="state" placeholder="Your state">
        </mat-form-field>

        &nbsp;&nbsp;

        <mat-form-field class="narrow">
          <mat-label>ZIP code</mat-label>
          <input matInput type="text" formControlName="zip" placeholder="Your ZIP code">
        </mat-form-field>

      </div>

      <br>
      <div class="comment">Submitted data are logged to the console. (press F12 on Google Chrome to toggle browser console)</div>
      <button mat-raised-button color="accent" type="submit" [disabled]="!myForm.valid">Submit</button>&nbsp;&nbsp;Form status: {{ myForm.status }}
      &nbsp;&nbsp;<span class="comment">formGroup.status captures form validity.</span>

      <br><br>
      <div class="comment">formGroup.setValue() method sets value for the entire formGroup. A value needs to be supplied for <span class="comment-highlight">every single</span> form control.</div>
      <button mat-raised-button color="accent" (click)="setValue()">Set Value</button>

      <br><br>
      <div class="comment">formGroup.patchValue() method sets value for a <span class="comment-highlight">subset</span> of formControls. This example patches firstName, lastName and city.</div>
      <button mat-raised-button color="accent" (click)="patchValue()">Patch Value</button>

    </form>

    <br><br>

    <div class="comment">'| json' pipe is used to display 'myForm.value' as a JSON object.</div>
    <p>
      You have entered: {{ myForm.value | json }}
    </p>

    <br>
    <div class="comment">FormGroup.get() method allows access to FormControl or sub FormGroup. Remember to type cast as FormControl or FormGroup,
      since get() method returns a generic AbstractControl object.</div>
    <div *ngIf="firstName.value && lastName.value">Your full name is {{ firstName.value }} {{ lastName.value }}</div>
    <div *ngIf="street.value">Your live at {{ street.value }}</div>
  </mat-card-content>

</mat-card>
